ARKIVE_DB_URL=jdbc:oracle:thin:@host:1521:service
ARKIVE_DB_USERNAME=your_username
ARKIVE_DB_PASSWORD=your_password

ARKIVE_BOOTSTRAP_SYSADMIN_ENABLED=false
ARKIVE_BOOTSTRAP_SYSADMIN_NAME=
ARKIVE_BOOTSTRAP_SYSADMIN_LOGIN=
ARKIVE_BOOTSTRAP_SYSADMIN_PASSWORD=

AZURE_SPEECH_ENDPOINT=
AZURE_SPEECH_API_KEY=
